<!-- Front page for logged in NUS Module Review User -->
<!DOCTYPE HTML>
<html>
<head>
    <title> NUS Module Review - The Official NUS Module Review Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../bootstrap/css/self.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">

</head>
<body>

    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  
       <div class="span5">
         <img class="logo" src="../images/nus.gif">
        
     </div>

     <div class="span4 offset6 signin-align">
      <span> <h4 style="color: #FF6600; font-size:25px;font-family: times, serif">Welcome</h4> </span>
  </div>

  <div class="span4 offset8 signin-align">
     <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
 </div>

</div>
<!-- End of top bar -->

<!-- Main navigation -->


<div class = "navbar">
	<div class = "navbar-inner">
     <ul class = "nav">
        <!--supposed to be a href=" " for home. just trying out to test for cors website. rmb to delete from giftbook.py the class called cors,and also frm its app. & delete the cors.html-->
       <li> <a href="/Login"><i class="icon-home icon-white"></i> Home</a></li>
       <li> <a href="/profile"><i class="icon-user icon-white"></i>Profile</a> </li>
       <li> <a href="/search"><i class="icon-search icon-white"></i>Search Mod</a> </li>
       <li> <a href="/addR"><i class="icon-plus-sign icon-white"></i>Add Review</a> </li>
	<!--    <li> <a href="/AddM">+ Mod</a> </li>
	   	<li> <a href="/FAQ">FAQ</a> </li>	   
	    <li> <a href="/AddM">Contact Us</a> </li>
 -->
</ul>
</div> 
</div>  

<div class="row-fluid">
	<div class="span5">
		<h1 style="text-align:center;color:#990000"> <br><br>Sorry We are under construction right now! It will be done by the next sprint!</h1>

      </div>
  </div>



  
  