<!-- Wish list -->
<!DOCTYPE HTML>
<html>
<head>
    <title> NUS Module Review - The Official NUS Module Review Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../bootstrap/css/self.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
<!--<script language="JavaScript" type="text/javascript">
    //  Published at: scripts.tropicalpcsolutions.com
    var reloaded = false;
    var loc=""+document.location;
    loc = loc.indexOf("?reloaded=")!=-1?loc.substring(loc.indexOf("?reloaded=")+10,loc.length):"";
    loc = loc.indexOf("&")!=-1?loc.substring(0,loc.indexOf("&")):loc;
    reloaded = loc!=""?(loc=="true"):reloaded;

    function reloadOnceOnly() {
    if (!reloaded) 
        window.location.replace(window.location+"?reloaded=true");
    }
    </script>-->
</head>
<!--<body onload="reloadOnceOnly()">-->
<body>
    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  
       <div class="span5">
         <img class="logo" src="../images/nus.gif">
     </div>

     <div class="span4 offset6 signin-align">
      <span> <h4 style="color: #FF6600; font-size:25px;font-family: times, serif">Welcome</h4> </span>
  </div>

  <div class="span4 offset8 signin-align">
     <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
 </div>

</div>
<!-- End of top bar -->

<!-- Main navigation -->


<div class = "navbar">
	<div class = "navbar-inner">
     <ul class = "nav">
        <!--supposed to be a href=" " for home. just trying out to test for cors website. rmb to delete from giftbook.py the class called cors,and also frm its app. & delete the cors.html-->
       <li> <a href="/Login"><i class="icon-home icon-white"></i> Home</a></li>
       <li> <a href="/profile"><i class="icon-user icon-white"></i>Profile</a> </li>
       <li> <a href="/search"><i class="icon-search icon-white"></i>Search Mod</a> </li>
       <li> <a href="/addR"><i class="icon-plus-sign icon-white"></i>Add Review</a> </li>
       <li> <a href="/display"><i class=" icon-play-circle icon-white"></i>My Review</a></li>
	<!--    <li> <a href="/AddM">+ Mod</a> </li>
	   	<li> <a href="/FAQ">FAQ</a> </li>	   
	    <li> <a href="/AddM">Contact Us</a> </li>
 -->
</ul>
</div> 
</div>  
	{% for module in query %}
	{% if module.checkr == 1 %}
	    <div class="alert alert-error" style="width:500px" id="error-review" style="display:none">
      	<!--<a class="close" onclick="$('.alert').hide()">×</a>-->  
      	<!--<a class="close" data-dismiss="alert" onclick="document.getElementById('error-review').setAttribute('hidden')">×</a>-->
      	<strong>OH NO!</strong> Looks like you have submitted the review for <strong>{{module.code}}</strong> before! Sorry, only 1 submission is allowed for each module.
    	</div>
    {% endif %}
    {% endfor %}

    <div id="content" style="background-color:#FFFFFF;height:1000px;width:1450px; float:left;">
      <h4> Reviews of {{ person.username }} / {{ user_mail }} </h4>

      <table class="table table-bordered table-striped" >
  <thead>
    <tr><th width="10%">Module Code</th><th width='10%'>Ratings (Out of 5)</th><th width='10%'>Workload</th><th width='10%'>Level of Difficulty</th><th width='25%'>Review</th><th width='20%'>Date&amp;Time</th><th width="5%"> </th> </tr>
  </thead>

	 <tbody>
	  {% for module in query %}
	  <tr>
      <td>{{ module.code }} </td>
      <td>{{ module.ratings }} </td>
      <td>{{ module.workload }} </td>
      <td>{{ module.diff }} </td>
      <td>{{ module.text }}  </td>
      <td>{{ module.date.replace(hour=((module.date.hour+8)%24) , microsecond=0 ) }} </td>

      <td><form action="/display" method="post">
        <input type="hidden" name= "button" value= "{{ loop.index0 }}"> 
        <button type="submit" class="btn btn-warning">Delete</button> </form></td>
	  
    </tr>
	  {% endfor %}
	</tbody>

      </table>
    </div>
  </div>
  
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright 2013© nusmodulereview.appspot.com</div>
  </body>
</html>
