<!-- Front page for Giftbook -->
<!DOCTYPE HTML>
<html>
  <head>
    <title> NUS Module Review - The Official NUS Module Review Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  	<style>
  	body {color:#000099;}
  	h1 {color:#FF6600;} {font-weight: bold}
 	</style>
  </head>
  <body>

    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  
	<div class="span5">
	  <img class="logo" src="../images/nus.gif">
	  <!--change logo here later-->
	</div>
	<div class="span3 offset9 signin-align">
	  <span> Login with <a href="/main"><img src="../images/google.png"></a></span>
		<!--change img src here-->
	</div>
      </div>
      <!-- End of top bar -->

      <!-- Main navigation -->
      <div class = "navbar">
	<div class = "navbar-inner">
	  <ul class = "nav">
	    <li> <a href="/">Home</a> </li>
	  </ul>
	</div> 
      </div>


	<div class="span6">
	  <div class="top-pad-one">
	    <h1> Need help choosing your NUS modules?</h1>
	    	If you haven&rsquo;t, please sign up <a href="/signup">here</a><br>
	      If you have, please click on <a href="/login"> log in</a></p>

	      <p>Enjoy your day! ~ </p>
	   
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
