<!-- Front page for NUS Module Review -->
<!DOCTYPE HTML>
<html>
<head>
  <title> NUS Module Review - The Official NUS Module Review Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon.ico">
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../bootstrap/css/self.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  <style>
  body {color:#000099;}
  h3  {font-size:20px;}
  h2 {color:#FF6600;} {font-weight: bold}
  </style>
</head>

<body>
 <div class="container-fluid"> 

    <!-- Top bar --> 
    <div class="row-fluid top-container">  
     <div class="span5">
       <img class="logo" src="../images/nus.gif">
      
     </div>

     <div class="floatright">
       <img class="logo" src="../images/mr.jpg">
      
     </div>





<div class="span3 offset9 signin-align">
 <!-- to set the alignment of the nav bar-->
</div>
</div>
<!-- End of top bar -->

<!-- Main navigation -->
<div class = "navbar">
	<div class = "navbar-inner">
   <ul class = "nav">
    <li> <a href="/"><i class="icon-home icon-white"></i> Home</a></li>
  </ul>
</div> 
</div>


<div class="span7">
 <div class="top-pad-one">
   <h2> Need help choosing your NUS modules?</h2>
   
   <h3><i class="icon-search"></i> See reviews from other NUS students!</h3>  

   <h3><i class="icon-plus-sign"></i> Share a review of your own!</h3>        
     </div>
   </div>


<div class="span7">
  <div class="top-pad-one">
    <h2>For NUS Students</h2>
    <h3><a href="/Login"><strong><u>log in</u></strong></a> with your NUSNET ID</h3>
  </div>
</div>



<div style="position: relative">
            <p style="position: fixed; bottom: 5%; width:100%; text-align: center">
                <img class="logo" src="../images/sem.png">
            </p>
        </div>



</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright 2013© nusmodulereview.appspot.com</div>
</body>
</html>
