<!DOCTYPE HTML>
<html>
  <head>
    <title> NUS Module Review - The Official NUS Module Review Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../bootstrap/css/self.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">

  </head>
  <body>

    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  
	<div class="span5">
	  <img class="logo" src="../images/nus.gif">
	  <!--change logo here later-->
	</div>

	  <div class="span4 offset6 signin-align">
		<span> <h4 style="color: #FF6600; font-size:25px;font-family: times, serif">Welcome</h4> </span>
	  </div>

	<div class="span4 offset8 signin-align">
	  <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
	</div>

      </div>
      <!-- End of top bar -->

      <!-- Main navigation -->
     

     <div class = "navbar">
	<div class = "navbar-inner">
	  <ul class = "nav">
	    <li> <a href="/Login"><i class="icon-home icon-white"></i> Home</a></li>
	  	<li> <a href="/profile"><i class="icon-user icon-white"></i>Profile</a> </li>
	    <li> <a href="/search"><i class="icon-search icon-white"></i>Search Mod</a> </li>
	    <li> <a href="/addR"><i class="icon-plus-sign icon-white"></i>Add Review</a> </li>
	<!--    <li> <a href="/AddM">+ Mod</a> </li>
	   	<li> <a href="/FAQ">FAQ</a> </li>	   
	    <li> <a href="/AddM">Contact Us</a> </li>
	  -->
	  </ul>
	</div> 
      </div>  

      <h1> Search By Faculty</h1>
    	<h3><a href="/fass">1. ARTS&amp;SOCIAL SCIENCES</a></h3>
		<h3><a href="/">2. DENTISTRY</a></h3>
		<h3><a href="/">3. ENGINEERING</a></h3>
		<h3><a href="/">4. JOINT MULTI-DISCIPLINARY PROGRAMMES</a></h3>
		<h3><a href="/">5. NON-FACULTY-BASED DEPARTMENTS</a></h3>
		<h3><a href="/">6. SCHOOL OF BUSINESS</a></h3>
		<h3><a href="/">7. SCHOOL OF COMPUTING</a></h3>
		<h3><a href="/">8. SCHOOL OF DESIGN AND ENVIRONMENT</a></h3>
		<h3><a href="/">9. SCIENCE</a></h3>
		<h3><a href="/">10. UNIVERSITY ADMINISTRATION</a></h3>
		<h3><a href="/">11. UNIVERSITY SCHOLARS PROGRAMME</a></h3>
		<h3><a href="/">12. YONG LOO LIN SCHOOL OF MEDICINE</a></h3>
		<h3><a href="/">13. YONG SIEW TOH CONSERVATORY OF MUSIC</a></h3>


   </div>
  </body>
</html>