<!DOCTYPE HTML>
<html>
<head>
  <title> NUS Module Review - The Official NUS Module Review Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon.ico">
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../bootstrap/css/self.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">



  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

  <script>

    $(function() {

   var people = [];
   var tblRow;

   $.getJSON('/json/nusmod.json', function(data) {

       $.each(data.moduleInformation, function(i, f) {
          if(f.department == 'CENTRE FOR LANGUAGE STUDIES' || f.department == 'CHINESE STUDIES' || f.department == 'COMMUNICATIONS AND NEW MEDIA' || f.department == "DEAN'S OFFICE (ARTS & SOCIAL SC.)" || f.department == 'ECONOMICS' || f.department == 'ENGLISH LANGUAGE & LITERATURE' || f.department == 'GEOGRAPHY' || f.department == 'HISTORY' || f.department == 'JAPANESE STUDIES' ||f.department ==  'MALAY STUDIES' ||f.department ==  'PHILOSOPHY' ||f.department ==  'POLITICAL SCIENCE' ||f.department ==  'PSYCHOLOGY' || f.department == 'SOCIAL WORK' ||f.department ==  'SOCIOLOGY' ||f.department ==  'SOUTH ASIAN STUDIES PROGRAMME' ||f.department ==  'SOUTHEAST ASIAN STUDIES') {

            tblRow = "<tr>" + "<td>" + f.label + "</td>" +
           "<td>" + f.title + "</td>" + "<td>" + f.description + "</td>" + "<td>" + f.department + "</td>" + "</tr>"
           $(tblRow).appendTo("#userdata tbody");

          }
        });

      });

    });
        </script>
</head>

<body>

  <div class="container-fluid"> 

    <!-- Top bar --> 
    <div class="row-fluid top-container">  
      <div class="span5">
        <img class="logo" src="../images/nus.gif">
        <!--change logo here later-->
      </div>

      <div class="span4 offset6 signin-align">
        <span> <h4 style="color: #FF6600; font-size:25px;font-family: times, serif">Welcome</h4> </span>
      </div>

      <div class="span4 offset8 signin-align">
        <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
      </div>

    </div>
    <!-- End of top bar -->

    <!-- Main navigation -->
    

    <div class = "navbar">
      <div class = "navbar-inner">
        <ul class = "nav">
          <li> <a href="/Login"><i class="icon-home icon-white"></i>Home</a></li>
          <li> <a href=""><i class="icon-user icon-white"></i>Profile</a> </li>
          <li> <a href="/search"><i class="icon-search icon-white"></i>Search Mod</a> </li>
          <li> <a href="/addR"><i class="icon-plus-sign icon-white"></i>Add Review</a> </li>
          <li> <a href="/display"><i class=" icon-play-circle icon-white"></i>My Review</a></li>
  <!--    <li> <a href="/AddM">+ Mod</a> </li>
      <li> <a href="/FAQ">FAQ</a> </li>    
      <li> <a href="/AddM">Contact Us</a> </li>
  -->
</ul>
</div> 
</div>  


<div class="wrapper">
        <div class="profile">
            <table id= "userdata" border="2">
                <thead>
                    <th>Module Code</th>
                    <th>Module Title</th>
                    <th>Module Description</th>
                    <th>Departments</th>
                </thead>
            <tbody>

            </tbody>
        </table>

        </div>
    </div>

</body>
</html>