<!DOCTYPE HTML>
<html>
  <head>
    <title> NUS Module Review - The Official NUS Module Review Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../bootstrap/css/self.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">

  </head>
  <body>

    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  
	<div class="span5">
	  <img class="logo" src="../images/nus.gif">
	  <!--change logo here later-->
	</div>

	  <div class="span4 offset6 signin-align">
		<span> <h4 style="color: #FF6600; font-size:25px;font-family: times, serif">Welcome</h4> </span>
	  </div>

	<div class="span4 offset8 signin-align">
	  <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
	</div>

      </div>
      <!-- End of top bar -->

      <!-- Main navigation -->
     

     <div class = "navbar">
	<div class = "navbar-inner">
	  <ul class = "nav">
	    <li> <a href=" "><i class="icon-home icon-white"></i> Home</a></li>
       	<li> <a href="/profile"><i class="icon-user icon-white"></i>Profile</a> </li>
       	<li> <a href="/search"><i class="icon-search icon-white"></i>Search Mod</a> </li>
       	<li> <a href="/addR"><i class="icon-plus-sign icon-white"></i>Add Review</a> </li>
	<!--    <li> <a href="/AddM">+ Mod</a> </li>
	   	<li> <a href="/FAQ">FAQ</a> </li>	   
	    <li> <a href="/AddM">Contact Us</a> </li>
	  -->
	  </ul>
	</div> 
      </div>  
        <h4 style="color: #FF6600; font-size:25px;">{{count.count}} Reviews for {{ code }}</h4> </span>
         <table class="table table-bordered table-striped" >
  <thead>
    {% for person in query2 %}
    <tr><th width="20%">Profile</th><th>Review</th></tr>
    <!--<tr><th width="70%">User</th><th>Module Code</th><th>Review</th><th>Date&amp;Time</th></tr>-->
    <!--<tr><th width="60%">User</th><th width="10%">Module Code</th><th width="10%">Ratings<br>(out of 5)</th><th>Workload</th><th>Level of Difficulty</th><th>Review</th>-->
      <!--<th>Date&amp;Time</th></tr>-->
  </thead>
   <tbody>
    <tr>
      <td>
        {{ person.email }}<br>
        {{ person.faculty }}<br> 
        Year {{ person.year }}<br>
        {{ person.gender }}<br>
      </td>
     <!-- <td>{#module.text#}</td>-->
     <!-- <td>{#module.email#} </td>
      <td>{#module.code#} </td>
      <td>{#module.text#}  </td>
      <td>{#module.date.strftime('%Y-%m-%d %H:%M:%S')#} </td>-->
      <td>
        {{query[loop.index0].date.strftime('%Y-%m-%d %H:%M:%S')}}<br>
        Ratings: {{query[loop.index0].ratings}}<br>
        Workload: {{query[loop.index0].workload}}<br>
        Level of Difficulty: {{query[loop.index0].diff}}<br>
        Comments:<br> 
        {{query[loop.index0].text }} <br>
     </td>

     <!--<td>{#module.date.strftime('%Y-%m-%d %H:%M:%S')#} </td>-->
    {% endfor %}

     </tr>
  
  </tbody>
    
     </table>
    <div>
  </body>
</html>
        
